body {
/* font-family: 'Inter', sans-serif; */
font-family: 'Roboto', sans-serif;
}

/* ---------------HEADER----------------- */
header {
background-color: blue;
}

.header-link {
font-size: 13px;
line-height: 2.31;
color: #FFFFFF;   
}

a {
text-decoration: none;
}

.header-btn {
padding: 12px 15px;
border: 1px solid #FFFFFF;
border-radius: 4px;
font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 1.23;
text-align: center;
color: #FFFFFF;
background-color: transparent;

}